{% extends "university/base.html" %}

{% block title %}
Faculty {{ faculty.name }}
{% endblock %}

{% block content %}
<h1>{{ faculty.name }}</h1>
<ul>
    <li>{{ faculty.name }}</li>
</ul>
<form action="{% url 'faculty' faculty.id %}" method="post">
    {%csrf_token%}
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="{{ faculty.name }}"><br>
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Update">
</form>
<form action="{% url 'faculty' faculty.id %}" method="post">
      {%csrf_token%}
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
</form>
{% endblock %}