{% extends "university/base.html" %}
{% block title %}
Teachers
{% endblock %}

{% block content %}
Add new teacher:
<form action="{% url 'teachers' %}"
      method="post">
      {%csrf_token%}
<label for="name">Name:</label><br>
<input type="text" id="name" name="name"><br>
<label for="email">Email:</label><br>
<input type="text" id="email" name="email"><br>
<label for="phone">Phone:</label><br>
<input type="text" id="phone" name="phone"><br>
<label for="subject">Subject:</label><br>
<input type="text" id="subject" name="subject"><br>
<label for="group">Group:</label><br>
<input type="text" id="group" name="group"><br>
<button class="btn btn-primary" type="submit">Create</button>
</form>

<br><br>
{% if teachers %}
    <ul>
    {% for teacher in teachers %}
    <li><a href="{% url 'teacher' teacher.id %}">{{ teacher.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No teachers are available.</p>
{% endif %}
{% endblock %}