{% extends "students/base.html" %}

{% block title %}
Student {{ student.name }}
{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 10px">
    <h1>{{ student.name }}</h1>
    <ul>
        <li>{{ student.name }}</li>
        <li>{{ student.email }}</li>
        <li>{{ student.phone }}</li>
        <li>{{ student.group }}</li>
    </ul>
    <a class="btn btn-primary" href="{% url 'edit_student' student.pk %}" role="button">Edit</a>
    <a class="btn btn-primary" href="{% url 'delete_student' student.pk %}" role="button">Delete</a>
</div>
{% endblock %}