{% extends "students/base.html" %}

{% block title %}
Teacher {{ teacher.name }}
{% endblock %}

{% block content %}
<h1>{{ teacher.name }}</h1>
<ul>
    <li>{{ teacher.name }}</li>
    <li>{{ teacher.email }}</li>
    <li>{{ teacher.phone }}</li>
    <li>{{ teacher.group }}</li>
    <li>{{ teacher.subject }}</li>
</ul>
<a class="btn btn-primary" href="{% url 'edit_teacher' teacher.pk %}" role="button">Edit</a>
<a class="btn btn-primary" href="{% url 'delete_teacher' teacher.pk %}" role="button">Delete</a>
{% endblock %}